/*Colours*/
:root{
    --drop-lighter:rgba(255, 255, 255, 1);
    --drop-light:rgba(180, 208, 231, 1);
    --drop-logo:rgba(0, 97, 255, 1);
    --drop-dark:rgba(1, 1, 1, 1);
}


/*Reset CSS*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*Utilities*/
.container_65{
    max-width: 65%;
    margin:auto;
}

.d-flex{
    display: flex;
}

ul{
   /* list-style: none;*/
    padding: 3px;
}

.col4{
    max-width: 33%;
}

.col8{
    max-width: 67%;
}

.img60{
    max-width: 60%;
}

.text40{
    max-width: 40%;
}

/*Debug*/
.debug header{
    background-color: aqua;
    height: 40px;
}

.debug main{
    background-color: ;
    height: 4000px;
}

.debug #jumbotron{
    height: 550px;
}

.debug #business_choice{
    height: 1250px;
    background-color: chocolate;
}

.debug #operation{
    height: 750px;
    background-color: rgb(24, 211, 33);
}

.debug #designit{
    height: 1250px;
    background-color: rgb(226, 38, 164);
}

.debug footer{
    background-color: brown;
    height: 100px;
}

.debug .img60{
    background-color: coral;
}

.debug .text40{
    background-color: rgb(8, 109, 4);
}





/*Others*/
body{
    max-width: 1920px;
    font-family: 'Open Sans', sans-serif;
}




/*Header*/
#site_nav{
    justify-content: space-between;
}

.nav_list{
    gap: 2rem;
}



/*Main*/
#jumbotron{
    background-color: var(--drop-light);
}

#jumbo_pic{
    max-width: 100%;
}

 #fatturazione{
    padding: 20px;
 }

 .business_card_containter{
    gap:5px;
 }

 .business_card{
    background-color: blue;
    margin: 5px;
 }