/*Colours*/
:root{
    --drop-lighter:rgba(255, 255, 255, 1);
    --drop-light:rgba(180, 208, 231, 1);
    --drop-logo:rgba(0, 97, 255, 1);
    --drop-dark:rgba(1, 1, 1, 1);
}


/*Reset CSS*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*Utilities*/
.container_65{
    max-width: 65%;
    margin:auto;
}

.d-flex{
    display: flex;
}

ul{
   /* list-style: none;*/
    padding: 3px;
    list-style: none;
}


.blue_btn{
    color: var(--drop-lighter);
    border:0;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--drop-logo);
    font-size: 10px;
}

.small_text{
    font-size: 10px;
}

.big_text{
    font-size: 30px;
    font-weight: 900;
}

.col4{
    max-width: calc((100%/12)*4);
}

.col8{
    max-width: 66%
}

.col-20{
    max-width: 20%;
}

.img60{
    max-width: 60%;
}

.text40{
    max-width: 40%;
}

/*Debug*/
.debug header{
/*    background-color: aqua;*/
}

.debug main{
    height: 4000px;
}

.debug #jumbotron{
    height: 380px;
}

.debug #business_choice{
    padding-top: 100px;
    height: 1250px;
    background-color: chocolate;
}

.debug #operation{
    height: 1200px;
    background-color: rgb(24, 211, 33);
}

.debug #designit{
    background-color: rgb(226, 38, 164);
}

.debug footer{
    background-color: brown;
    height: 180px;
}

.debug .img60{
    background-color: coral;
}

.debug .text40{
    background-color: rgb(8, 109, 4);
}

.debug .designit_left{
    background-color: black;
    height: 500px;
}

.debug .designit_right{
    background-color: black;
    height: 500px;
}

.debug .light_adv{
    height: 150px;
    background-color: var(--drop-light);
}



/*Others*/
body{
    max-width: 1920px;
    font-family: 'Open Sans', sans-serif;
}


/*Header*/
#site_nav{
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding-left:10px;
    padding-right: 10px;
}

#logo_nav{
    padding-top: 3px;
    height: 18px;
    padding-right: 15px;
}

.nav_list{
    font-size: 10px;
    padding-right: 10px;
    gap:20px
}


/*Main*/
#jumbotron{
    background-color: var(--drop-light);
}

.jumbo_title{
    font-weight: 800;
    padding-top: 40px;
    padding-right: 100px;
    padding-bottom: 30px;
}

#jumbo_pic{
    max-width: 100%;
}

.jumbo_left * {
    padding-bottom: 20px;
}

.start_free{
    padding-top: 8px;
    padding-bottom: 8px;
}


 #fatturazione{
    padding: 20px;
 }

 .business_card_containter{
    gap:5px;
 }

 .business_card{
    background-color: blue;
    margin: 5px;
 }


 .operation_card_container{
    flex-wrap: wrap;
 }

 .operation_card{
    background-color: bisque;
    margin: 3px;
 }

.foot_spread{
    justify-content: space-between;
}